<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="signup-page">
      <div class="text-wrapper">MINDSPACE</div>
      <div class="group"></div>
      <div class="div">Sign Up now</div>
      <div class="text-wrapper-2">Name</div>
      <div class="rectangle"></div>
      <div class="rectangle-2"></div>
      <div class="rectangle-3"></div>
      <div class="rectangle-4"></div>
      <img class="line" src="img/line-2.svg" />
      <div class="text-wrapper-3">Enter your name</div>
      <div class="text-wrapper-4">Email</div>
      <div class="text-wrapper-5">Password</div>
      <div class="text-wrapper-6">Forgot Password?</div>
      <div class="text-wrapper-7">Remember Me</div>
      <div class="text-wrapper-8">SignUp</div>
      <div class="basil-eye-closed">
        <img class="vector" src="img/vector.svg" /> <img class="img" src="img/image.svg" />
      </div>
      <div class="text-wrapper-9">Enter your password</div>
      <div class="text-wrapper-10">Enter your email id</div>
      <div class="rectangle-5"></div>
      <img class="reshot-illustration" src="img/reshot-illustration-website-design-u3pzxdsevy-3.png" />
      <div class="text-wrapper-11">Next</div>
    </div>
  </body>
</html>
